body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
  color: #000;
}

.resume-container {
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #272525;
}

header {
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 2px solid #007bff;
}

header h1 {
  color: #007bff;
  margin: 0;
}

header h3 {
  margin-top: 10px;
  color: #007bff;
}

.resume-main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.left, .right {
  padding: 10px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  border-left: 1px solid #ccc;
}

section {
  margin-bottom: 20px;
}

h3 {
  color: #007bff;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

a {
  color: #082341;
  text-decoration: none;
  
}